---
import {Image} from "astro:assets"

import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Shoplist from "../components/Shoplist.astro";
import { getEntry } from "astro:content";

const shops = await getCollection("shops");
const { data: shopzprice } = await getEntry ( "zprice" , "typeid") ;

---

<Layout title="Shops and Foodcourt for sale ">
    <Shoplist shops={shops} />
    <p>{shopzprice.priceNow}</p>

</Layout>